table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btn-add-carrinho {
    width: 142px;
    height: 28px;
    background-color: #008c45;
    line-height: 16px !important;
  }