.tabela-pedidos {
    margin-top: 40px;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

.steps-container {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}

.btn-cancelar {
    margin-top: 10px;
    margin-left: 40px;
}