.btn-enviar {
    width: 142px;
    height: 28px;
    background-color: #008c45;
    line-height: 16px !important;
    margin-top: 20px;
  }

  .form-cadastro {
      margin-top: 40px;
  }

 .form-group {
      margin-top: 15px !important;
      font-size: 1.5vw;

  }

  .campo-cep {
      width: 50%; 
  }

  Form.Label {
      color: red !important;
  }