.container {
  width: 370px;
  height: 160px;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: #B9B7BD;
  border-radius: 5px;
}

.produto_titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #1C1F21;
  height: 16px;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 7px;
}

.produto_detalhes {
  display: grid;
  grid-template-columns: 110px 100px auto;
  width: auto;
  height: 136px;
  margin: 2px;
}

.sec-1 {
  width: 104px;
  height: 136px;
  margin: 2px;
  position: relative;
}
.produto_imagem {
  width: 100px;
  height: 100px;
  margin-top: 11px;
  margin-bottom: 18px;
  border: 1px;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

.sec-2 {
  width: 100px;
  height: 136px;
  margin: 2px;
}

.lb-opcao {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #717171;
  height: 24px;
  padding: 2px;
  margin-top: 5px;
  line-height: 20px;
}

.lb-quantidade {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #717171;
  height: 24px;
  padding: 2px;
  margin-top: 5px;
}

.sec-3 {
  width: auto;
  height: 136px;
  margin: 2px;
}

.combo-tamanho {
  width: auto;
  height: 24px;
  margin-top: 5px;
}

.sel-tamanho {
  width: 142px;
  height: 28px;
  background-color: #EFEFEE;
  text-align-last:center;
}

.contador-quantidade {
  display: grid;
  grid-template-columns: 24px auto 24px;
  width: auto;
  height: 24px;
  margin-top: 5px;
  padding: 0px !important;
}

.btn-red {
  width: 24px;
  height: 24px;
  font-size: 28px !important;
  font-weight: 900;
  color: black !important;
  background-color: #EFEFEE !important;
  border-style: none !important;
  line-height: 24px !important;
  border-radius: 5px;
  padding: 0px !important;
}

.btn-red:active {
  border-style: solid !important;
}

.btn-quant {
  width: auto;
  height: 24px;
  font-size: 18px;
  text-align: center;
  color: black !important;
  line-height: 24px;
  background-color: white;
}

.btn-add {
  width: 24px;
  height: 24px;
  font-size: 28px !important;
  font-weight: 900;
  color: black !important;
  background-color: #EFEFEE !important;
  border-style: none !important;
  line-height: 24px !important;
  border-radius: 5px;
  padding: 0px !important;
}

.btn-add:active {
  border-style: solid !important;
}


.preco {
  width: auto;
  height: 24px;
  text-align: right;
  color: #CD212A;
  margin-top: 5px;
  line-height: 24px;
}

.botao-adicionar {
  width: auto;
  height: 24px;
}

.btn-add-carrinho {
  width: 142px;
  height: 28px;
  background-color: #008c45;
  line-height: 16px !important;
}

.img-modal {
  margin-bottom: 18px;
  border: 1px;
  border-style: none;
  border-radius: 10px;
  height: 100%;
  width: 100%
}

.sec-1 span {
  position: absolute;
  right: 16px;
  top: 90px;
  text-decoration: solid;
  font-size: 8px;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 2px black;
}


